/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: sans-serif;
  color: #F7FAFC;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oswald', sans-serif;
  color: #F7FAFC;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
a {
  color: #F7FAFC;
  font-size: 1.6rem;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.navigation-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  background-color: #464747;
  color: #F7FAFC;
}
@media (max-width: 500px) {
  .navigation-area {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.navigation-area .headerNav a {
  padding: 2rem;
}
@media (max-width: 500px) {
  .navigation-area .headerNav {
    padding-top: 2rem;
  }
}
#showcase {
  height: 600px;
  margin-bottom: 3rem;
}
@media (max-width: 500px) {
  #showcase {
    height: 600px;
  }
}
#showcase h1 {
  font-size: 50px;
  line-height: 1.3;
  position: relative;
  animation: heading;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  padding-bottom: 2.5rem;
}
@keyframes heading {
  0% {
    top: -50px;
  }
  100% {
    top: 50px;
  }
}
#content {
  position: relative;
  padding: 5rem 5rem 0 5rem;
  text-align: center;
  animation-name: content;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes content {
  0% {
    left: -1000px;
  }
  100% {
    left: 350px;
  }
}
@media (max-width: 500px) {
  @keyframes content {
    0% {
      left: -1000px;
    }
    100% {
      left: 0;
    }
  }
}
.checklist {
  display: flex;
  padding: 1.5rem;
}
.circle {
  width: 80px;
  height: 80px;
  background: #00B5D8;
  border-radius: 50%;
  font-size: 2rem;
  text-align: center;
  padding-top: 3rem;
  justify-content: center;
  align-items: center;
}
.rectangle {
  width: 300px;
  height: 70px;
  background: #00B5D8;
  margin-left: 2rem;
  border-radius: 15%;
  font-size: 2rem;
  text-align: center;
  padding-top: 2rem;
  justify-content: center;
  align-items: center;
}
@keyframes content {
  0% {
    left: -1000px;
  }
  100% {
    left: 350px;
  }
}
.btn {
  display: block;
  margin-left: 300px;
  margin-right: 300px;
  background-color: #F56565;
  color: white;
  text-decoration: none;
  padding: 2rem 8rem 2rem 8rem;
  border: 1px solid white;
  margin-top: 40px;
  opacity: 0;
  animation-name: btn;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  transition-property: transform;
  transition-duration: 1s;
}
@media (max-width: 500px) {
  .btn {
    display: block;
    margin: 4rem 2rem 0 2rem;
  }
}
@keyframes btn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.features {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 4rem;
  background-color: #00B5D8;
  padding: 6rem;
}
@media (max-width: 500px) {
  .features {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin: 0 auto;
  }
}
.features .chkbox-icon {
  width: 100px;
  height: 100px;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
}
@media (max-width: 500px) {
  .features .chkbox-icon {
    width: 150px;
    height: 150px;
  }
}
.footerNav {
  align-items: center;
  padding: 3rem;
  background-color: #464747;
  color: #F7FAFC;
}
.footerNav a {
  padding: 2rem;
}
.meet-the-team {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 500px) {
  .meet-the-team {
    flex-direction: column;
  }
}
.person-icon {
  width: 200px;
  height: 300px;
}
body {
  background-color: #0987A0;
  text-align: center;
}
