

.heading {
    padding: 2rem;
    margin: 1rem;
}




.profile-pics {
    border-radius: 5%;
    padding: 1rem;
}

.photo-cards {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    margin: 1rem;
    justify-content: space-around;
}

#last-card {
    justify-content: center;
    align-items: center;
}