.values{
display: flex;
justify-content: space-evenly;
}

.team{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    @media @mobileView {
        flex-direction: column;
    }
}

section{
    padding: 100px;
}

// .aboutSection{
//     padding: 5rem;
//     display: flex;
//     flex-direction: column;
//     align-content: center;
//     justify-content: center;
// }

.aboutSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    .UseFlexBox(column, space-between, center, center);
}

.valuesBox{
    display: flex;
    flex-direction: column;
    h3{
        font-size: 2rem;
    }
    p{
        font-size: 1.5rem;
    }
}

.getStartedButton{
    text-decoration: none;
    font-size: 2rem;
    .buttonTemplate(2rem, 5rem , 12px, red, white, pointer);
}

.getStartedButton2{
    text-decoration: none;
    font-size: 2rem;
    padding: 50px;
    justify-content: center;    
    .buttonTemplate(2rem, 5rem , 12px, red, white, pointer);
}

.aboutButton{
    display: flex;
    justify-content: center;
    width: 50%;
    a{
        color: white;
        text-decoration: none;
        justify-content: center;
        align-content: center;
        padding: 4rem;
        font-size: 2rem;
        width: 50%;
    }

    .buttonTemplate(1rem, 1rem , 12px, red, white, pointer);
}

nav{
    background-color: @blueText;
}

header{
    background-color: @blueText;
}

.valuesHeading{
    color: @blueText;   
}

section{
    border: none;
    height: 50rem;
}

.container{
    width: 100%;
    max-width: 1000px;

    @media @tabletView {
        max-width: 100%;
    }

    @media @mobileView {
        max-width: 100%;
    }
}