// Section
.organise-life-then-go-enjoy-it-section {
border: 3px solid grey;
display: flex;
margin: 0 auto;

}

#organise-life-then-go-enjoy-it-title-and-text-and-button {
    flex-direction: column;
    border: 4px solid green;
    margin: auto 0;
}

#organise-life-then-go-enjoy-it-title {
border: 3px solid purple;
font-family: 'Open Sans', sans-serif;
}

.blueText {
    color: #00B5D8;
    font-weight:bold;
}

#organise-life-then-go-enjoy-it-text {
    border: 3px solid green;
}

#getting-started-button-top {
    background-color: @wl-blue;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


// Section
#wunderlist-is-not-just-another-to-do-list-app-section {
    border: 4px solid blue;
}

#wunderlist-is-not-just-another-to-do-list-app-title {
    border: 4px solid blue;
    text-align: center;
}

#wunderlist-is-not-just-another-to-do-list-app-text {
    width: 50%;
    margin: 0 auto;
}

// Section
.organize-everything-in-life-section {
    border: 4px solid orange;
    display: flex;
}

#organize-everything-in-life-title-and-text {
    border: 2px solid turquoise;
    margin: auto 0;
}

// Section
.get-reminded-anytime-anywhere-section {
    border: 4px solid purple;
    display: flex;
    flex-direction: row-reverse;
}

#get-reminded-anytime-anywhere-title-and-text {
    border: 2px solid turquoise;
    margin: auto 0;
}

// Section
.flexible-calendar-views-section {
    border: 4px solid purple;
    display: flex;
    flex-direction: row-reverse;
}

#flexible-calendar-views-title-and-text {
    border: 2px solid turquoise;
    margin: auto 0;
}

// Section
.collaborating-with-others-section {
    border: 4px solid purple;
    display: flex;
    flex-direction: row-reverse;
}

#collaborating-with-others-title-and-text {
    border: 2px solid turquoise;
    margin: auto 0;
}

// Section
.sync-across-multiple-platforms-section {
    border: 4px solid purple;
    display: flex;
    flex-direction: column;
}

#sync-across-multiple-platforms-title-and-text {
    border: 2px solid turquoise;
    margin: 0 auto;
    text-align: center;
}

// Section
.ready-to-be-more-productive-section {
    border: 4px solid green;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

#getting-started-button-bottom {
    background-color: @wl-blue;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 auto;
}