.navigation-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    background-color: @dark-grey;
    color: @font-color;

        @media @mobile {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    .headerNav a {
        padding: 2rem;
    }
}




