.navigation-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    background-color: @dark-grey;
    color: @font-color;

    .headerNav a {
        padding: 2rem;
    }
}




